<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">

    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="/assets/images/310874.svg" alt="" width="40" height="32">
        <span class="fs-4">Fitness</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a href="/activities-planner" class="me-3 py-2 text-dark text-decoration-none">Your Fitness</a>
        {{^user}}
        <a href="/account-login" class="me-3 py-2 text-dark text-decoration-none">Login/Sign Up</a>
        {{/user}}
        {{#user}}
        <a href="/account-logout" class="me-3 py-2 text-dark text-decoration-none">Logout</a>
        {{/user}}
    </nav>
</header>