
<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="/assets/images/310874.svg" alt="" width="40" height="32">
        <span class="fs-4">Fitness TODOS</span>
    </a>

    {{#user}}
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/activities-planner" class="nav-link px-2 link-dark">TODOS</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Your Fitness</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Account</a></li>
    </ul>
    {{/user}}

    <div class="col-md-3 text-end">
        {{^user}}
        <a href="/account-login" class="btn btn-outline-secondary btn-sm me-3 py-2">Login</a>
        <a href="/account-signup" class="btn btn-secondary btn-sm me-3 py-2">Sign Up</a>
        {{/user}}
        {{#user}}
        <a href="/account-logout" class="me-3 py-2 text-dark text-decoration-none">Logout</a>
        {{/user}}
    </div>
</header>