<!DOCTYPE html>
<html lang="en">

<head>
    {{>shared/head}}
</head>

<body>
    <div class="container py-3">
        {{>shared/nav}}
        <h1>Planner 2</h1>
        <table class="table table-striped table-light table-hover table-borderless">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Details</th>
                    <th scope="col">Date</th>
                    <th scope="col">Completed</th>

                </tr>
            </thead>
            <tbody>
                {{#tasks}}
                <tr>
                    <td>{{ workouts.name }}</td>
                    <td>{{ workouts.details }}</td>
                    <td>{{ date }}</td>
                    <td>{{ workouts.completed }}</td>
                </tr>
                {{/tasks}}
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
        </script>
</body>

</html>