<!DOCTYPE html>
<html lang="en">

<head>
    {{>shared/head}}
</head>

<body>
    <div class="container py-3">
        {{>shared/nav}}
        <h1>MISSED Activities</h1>
        <div class="row">
            <div class="col-md-10">
                <table class="table table-striped table-light table-hover table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">details</th>
                            <th scope="col">Date</th>
                            <th scope="col">Completion Status</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Complete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#tasks}}
                        <tr>
                            <td>{{ workouts.name }}</td>
                            <td>{{ workouts.details }}</td>
                            <td>{{ date }}</td>
                            <td>
                                {{^workouts.completed}}<input type="checkbox" id="completionCheckFalse"
                                    value={{workouts.completed}} disabled>{{/workouts.completed}}
                                {{#workouts.completed}}<input type="checkbox" id="completionCheckTrue"
                                    value={{workouts.completed}} checked disabled>{{/workouts.completed}}
                            </td>
                            <td><a href="/activities/edit/{{ _id }}" class="btn btn-outline-warning">Edit</a></td>
                            <td>
                                {{^workouts.completed}}
                                <form action="" method="POST">
                                    <button type="submit" name="completeButton" value="{{ _id }}"
                                        class="btn btn-outline-success">
                                        Complete
                                    </button>
                                </form>
                                {{/workouts.completed}}
                            </td>
                        </tr>
                        {{/tasks}}
                    </tbody>
                </table>
                {{^tasks}}
                <h1>You have no activities listed here</h1>
                <h1>I find your lack of fitness disturbing</h1>
                {{/tasks}}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
    <script src="/js/addActiveClass.js"></script>
</body>

</html>